deployment/logic-apps/maritime-alert-workflow.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "actions": {
      "Check_Vessel_Status": {
        "inputs": {
          "headers": {
            "Content-Type": "application/json"
          },
          "method": "GET",
          "uri": "@{parameters('MaritimeAPIEndpoint')}/api/vessels/@{triggerBody().vesselId}/status"
        },
        "runAfter": {},
        "type": "Http"
      },
      "Condition_Emergency": {
        "actions": {
          "Send_Emergency_Alert": {
            "inputs": {
              "body": {
                "message": "EMERGENCY: @{triggerBody().alertMessage}",
                "phoneNumber": "@{parameters('EmergencyPhoneNumber')}",
                "priority": "high"
              },
              "headers": {
                "Content-Type": "application/json"
              },
              "method": "POST",
              "uri": "@{parameters('SMSServiceEndpoint')}/send"
            },
            "runAfter": {},
            "type": "Http"
          },
          "Send_Emergency_Email": {
            "inputs": {
              "body": {
                "Body": "<p>Emergency Alert for Vessel: @{triggerBody().vesselName}<br>Alert Type: @{triggerBody().alertType}<br>Message: @{triggerBody().alertMessage}<br>Time: @{utcNow()}<br>Location: @{triggerBody().location}</p>",
                "Subject": "EMERGENCY: Maritime Alert - @{triggerBody().vesselName}",
                "To": "@{parameters('EmergencyEmailList')}"
              },
              "host": {
                "connection": {
                  "name": "@parameters('$connections')['office365']['connectionId']"
                }
              },
              "method": "post",
              "path": "/v2/Mail"
            },
            "runAfter": {
              "Send_Emergency_Alert": [
                "Succeeded"
              ]
            },
            "type": "ApiConnection"
          }
        },
        "else": {
          "actions": {
            "Send_Standard_Notification": {
              "inputs": {
                "body": {
                  "message": "@{triggerBody().alertMessage}",
                  "recipient": "@{parameters('OperationsTeamEmail')}",
                  "severity": "@{triggerBody().severity}",
                  "vessel": "@{triggerBody().vesselName}"
                },
                "headers": {
                  "Content-Type": "application/json"
                },
                "method": "POST",
                "uri": "@{parameters('NotificationServiceEndpoint')}/send"
              },
              "runAfter": {},
              "type": "Http"
            }
          }
        },
        "expression": {
          "and": [
            {
              "equals": [
                "@triggerBody().severity",
                "Critical"
              ]
            }
          ]
        },
        "runAfter": {
          "Check_Vessel_Status": [
            "Succeeded"
          ]
        },
        "type": "If"
      },
      "Log_Alert_to_Database": {
        "inputs": {
          "body": {
            "alertMessage": "@{triggerBody().alertMessage}",
            "alertType": "@{triggerBody().alertType}",
            "location": "@{triggerBody().location}",
            "severity": "@{triggerBody().severity}",
            "timestamp": "@{utcNow()}",
            "vesselId": "@{triggerBody().vesselId}",
            "vesselName": "@{triggerBody().vesselName}"
          },
          "headers": {
            "Content-Type": "application/json"
          },
          "method": "POST",
          "uri": "@{parameters('MaritimeAPIEndpoint')}/api/alerts/log"
        },
        "runAfter": {
          "Condition_Emergency": [
            "Succeeded"
          ]
        },
        "type": "Http"
      }
    },
    "contentVersion": "1.0.0.0",
    "outputs": {},
    "parameters": {
      "$connections": {
        "defaultValue": {},
        "type": "Object"
      },
      "EmergencyEmailList": {
        "defaultValue": "emergency@maritimeiq.com,operations@maritimeiq.com",
        "type": "String"
      },
      "EmergencyPhoneNumber": {
        "defaultValue": "+4799999999",
        "type": "String"
      },
      "MaritimeAPIEndpoint": {
        "defaultValue": "https://maritimeiq-platform-api.azurewebsites.net",
        "type": "String"
      },
      "NotificationServiceEndpoint": {
        "defaultValue": "https://maritimeiq-notifications.azurewebsites.net",
        "type": "String"
      },
      "OperationsTeamEmail": {
        "defaultValue": "operations@maritimeiq.com",
        "type": "String"
      },
      "SMSServiceEndpoint": {
        "defaultValue": "https://maritimeiq-sms.azurewebsites.net",
        "type": "String"
      }
    },
    "triggers": {
      "When_a_Maritime_Alert_is_Received": {
        "inputs": {
          "queueName": "maritime-alerts",
          "serviceBusConnectionString": "@parameters('ServiceBusConnectionString')"
        },
        "recurrence": {
          "frequency": "Second",
          "interval": 30
        },
        "type": "ServiceBus"
      }
    }
  },
  "parameters": {
    "$connections": {
      "value": {
        "office365": {
          "connectionId": "/subscriptions/{subscription-id}/resourceGroups/maritimeiq-platform-rg/providers/Microsoft.Web/connections/office365",
          "connectionName": "office365",
          "id": "/subscriptions/{subscription-id}/providers/Microsoft.Web/locations/westeurope/managedApis/office365"
        },
        "servicebus": {
          "connectionId": "/subscriptions/{subscription-id}/resourceGroups/maritimeiq-platform-rg/providers/Microsoft.Web/connections/servicebus",
          "connectionName": "servicebus",
          "id": "/subscriptions/{subscription-id}/providers/Microsoft.Web/locations/westeurope/managedApis/servicebus"
        }
      }
    }
  }
}